<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kode OTP kanggo Mulihaken Sandhi Panjenengan – JajanTracker &#128274;</title>
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #121212 !important;
                color: #e5e5e5 !important;
            }

            .container {
                background-color: #1e1e1e !important;
                color: #e5e5e5 !important;
            }

            p {
                color: #e5e5e5 !important;
            }

            .help {
                border-top-color: #2c6975 !important;
            }

            .footer {
                border-top-color: #2c6975 !important;
            }
        }
    </style>
</head>
<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; margin: 0; padding: 20px; background-color: #e0ecde; color: #2c6975; font-size: 16px; line-height: 1.7;">
<p style="font-size: 14px; color: #68b2a0; text-align: center; margin-bottom: 20px;">Panjenengan nampi layang iki amarga
    panjenengan nyuwun OTP kanggo mulihaken sandhi ing aplikasi <strong>JajanTracker</strong>.</p>
<table role="presentation" style="width: 100%; border-spacing: 0;">
    <tr style="padding: 0;">
        <td style="padding: 0;">
            <div class="container"
                 style="max-width: 600px; margin: auto; background-color: #fff; border-radius: 8px; padding: 24px; border-top: 6px solid #68b2a0; box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);">
                <h1 style="font-size: 26px; color: #68b2a0;">Sugeng rawuh, ${person.fullName} &#128075;</h1>
                <p style="margin: 16px 0; color: #2c6975;">Kita nampi panyuwunan kanggo mulihaken sandhi. Kanggo njaga
                    keamanan akun, mangga ginakaken kode OTP ing ngandhap punika kanggo nerusake proses pamulihan.</p>
                <h3 style="font-size: 22px; color: #68b2a0;">Kode OTP panjenengan:</h3>
                <h1 style="font-size: 26px; color: #68b2a0; letter-spacing: 4px;">${verification.token}</h1>
                <p style="margin: 16px 0; color: #2c6975;">Lebokake kode punika ing aplikasi JajanTracker kanggo
                    ngonfirmasi pamulihan sandhi. Kode punika bakal kadaluwarsa ing <strong>${getHelper().getVerification().getDateDisplay(verification.expired!!,
                        person.id!!, person.timeZone!!, "63ebca702e0f4c568020f82a0186acf5") }</strong>, utawa watara
                    <strong>1 jam saka saiki</strong>.</p>
                <div style="text-align: center; margin: 32px 0;">
                    <img style="width: 100%; border-radius: 6px;" src="https://i.ibb.co.com/vn0szyx/1.jpg" alt="Shh!">
                </div>
                <h3 style="font-size: 22px; color: #68b2a0;">Penting:</h3>
                <ul style="padding-left: 30px;">
                    <li style="margin-bottom: 12px;">Aja nate maringi kode punika dhateng sinten wae, kalebu pihak sing
                        ngaku saka JajanTracker.
                    </li>
                    <li style="margin-bottom: 12px;">Anggena sandhi ingkang kiyat lan enggal-enggal dipun ganti kangge
                        njagi keamanan akun panjenengan.
                    </li>
                    <li style="margin-bottom: 12px;">Yen panjenengan ora nyuwun kode punika, monggo diabaikan layang
                        iki.
                    </li>
                </ul>
                <div class="help" style="margin-top: 48px; border-top: 1px solid #cde0c9; padding-top: 24px;">
                    <h3 style="font-size: 22px; color: #68b2a0;">Butuh Bantuan?</h3>
                    <p style="margin: 16px 0; color: #2c6975;">Yen panjenengan gadhah pitakon utawi kendala, kulo tansah
                        siap mbantu:<br>&#128231; <a style="color: #68b2a0;"
                                                     href="mailto:jeremy.adrian@hendrickprasdito.com">jeremy.adrian@hendrickprasdito.com</a><br>Utawi
                        panjenengan saged langsung mbales layang iki.</p>
                </div>
                <div class="footer"
                     style="margin-top: 48px; font-size: 15px; text-align: center; border-top: 1px solid #cde0c9; padding-top: 24px;">
                    <p style="margin: 16px 0; color: #2c6975;">Matur nuwun sampun maringi kapitadosan marang
                        JajanTracker wonten lelampahan finansial panjenengan &#128640;</p>
                    <p style="margin: 16px 0; color: #2c6975;"><strong>Mugi kabegjan ing keuanganmu tansah
                        makarya,</strong><br>Tim JajanTracker</p>
                    <p style="margin: 16px 0; color: #2c6975;"><em>Atur Jajané, Wujudaké Impenmu</em></p>
                </div>
            </div>
        </td>
    </tr>
</table>
<p style="font-size: 14px; color: #68b2a0; text-align: center; margin-top: 20px;">Punika layang transaksional sing
    dikirim kanthi otomatis adhedhasar aktivitas panjenengan wonten ing aplikasi. Layang punika dudu layang pemasaran
    utawi promosi.</p>
</body>
</html>